* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

input[type="checkbox"] {
  padding: 5px;
  margin-right: 10px;
}

:root {
  --primary-color: #a8daf1;
  --secondary-color: #94cff1;
  --text-color: #F3F4F6;
  --border-color: #067483;
}

body {
  background-color: var(--secondary-color);
}